:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

.intro-content-bg {
    background-color: var(--blue);
    padding: 100px;
}

.intro-content {
    color: white;
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
}

.intro-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.intro-content p {
    font-size: 1.125rem;
}